src/main/mule/implementation-fileimport.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:java="http://www.mulesoft.org/schema/mule/java" xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
	xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:sftp="http://www.mulesoft.org/schema/mule/sftp" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/sftp http://www.mulesoft.org/schema/mule/sftp/current/mule-sftp.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd">
	<flow name="implementation-scheduledCheckFlow" doc:id="af3f4d7e-a056-4669-8abe-9534219d9d83" >
		<sftp:listener doc:name="On New or Updated File" doc:id="ad2a74e5-54b3-4c21-9607-fca4408d276c" config-ref="SFTP_Config" recursive="false" directory="${sftp.working.path}">
			<scheduling-strategy>
				<fixed-frequency frequency="2" timeUnit="MINUTES"/>
			</scheduling-strategy>
			<sftp:matcher filenamePattern="*.txt" />
		</sftp:listener>
		<set-variable value="#[attributes.fileName]" doc:name="fileName" doc:id="e564c87a-9239-4e9e-8f76-c68d5a919816" variableName="fileName" />
		<flow-ref doc:name="Call Read File Flow" doc:id="0d0a282a-8804-4552-be3c-cc4433d2c955" name="implementation-sftpRead"/>
		<set-variable value="#[payload]" doc:name="Set Variable" doc:id="242c63f4-eed9-43c8-8226-a23ca9830547" variableName="fileContents"/>
		<try doc:name="Try" doc:id="3d2a2d90-3153-4b5a-a6cd-033b5e074127" >
			<choice doc:name="Choice" doc:id="7e8c1220-66d9-4df5-8385-594db69ba81d">
			<when expression='#[lower(attributes.fileName) contains ("base")]'>
				<logger level="INFO" doc:name="Logger" doc:id="1bfb71fc-74cd-40fa-86d2-0e08cd7cb08c" message='#[" ************************ STARTED: READING FILE : BASE FILE ***************************"]' />
				<flow-ref doc:name="Call Product Flow - CarBase" doc:id="e291538e-be75-4769-86cb-f44db19e3c40" name="implementation-fileimport-product-base" />
					<ee:transform doc:name="Transform Message" doc:id="f55eaf74-c65c-4eab-93d0-892e0078cfcf">
						<ee:message>
							<ee:set-payload><![CDATA[%dw 2.0
import * from dw::Runtime
output application/java
---
payload wait 30000]]></ee:set-payload>
						</ee:message>
					</ee:transform>
					<logger level="INFO" doc:name="Logger" doc:id="08588a31-71e6-493d-ba01-e4588ae0c9a4" message='#[" ************************ CarBase - PRODUCT IMPORT COMPLETED ***************************"]' />
					<set-payload value="#[vars.fileContents]" doc:name="Set Payload" doc:id="ca2f1aa3-f8f5-498f-a82e-c257041c3ab4" />
					<flow-ref doc:name="Price book Entry - standard" doc:id="4eae962c-af97-43f2-8da3-8e9ab09d158b" name="implementation-fileimport-pricebookentry-standard-base"/>
					<ee:transform doc:name="Transform Message" doc:id="f12f7e91-d305-46bd-bb49-ce81244e7069">
						<ee:message>
							<ee:set-payload><![CDATA[%dw 2.0
import * from dw::Runtime
output application/java
---
payload wait 30000]]></ee:set-payload>
						</ee:message>
					</ee:transform>
					<set-payload value="#[vars.fileContents]" doc:name="Set Payload" doc:id="1bdbbdb4-cd52-4c0d-bb54-54af4f3dbdb1" />
					<flow-ref doc:name="Call PriceBook Flow - CarBase" doc:id="b750be94-8eff-42c9-a37f-731e6a87a308" name="implementation-fileimport-pricebookentry-basedata" />
					<logger level="INFO" doc:name="Logger" doc:id="cffb8091-e0e9-4662-9aff-a8bd8e1f17c0" message='#["CarBase - Product Batch Completed"]' />
			</when>
			<when expression='#[lower(attributes.fileName) contains ("items")]'>
					<flow-ref doc:name="Call Product Flow - Item" doc:id="3b49a5c9-1b0e-457e-8b5d-9f1134478029" name="implementation-fileimport-product-items" />
					<ee:transform doc:name="Transform Message" doc:id="f86e5cdd-4ae9-4ce8-870a-b224eb8e2390">
						<ee:message>
							<ee:set-payload><![CDATA[%dw 2.0
import * from dw::Runtime
output application/java
---
payload wait 30000]]></ee:set-payload>
						</ee:message>
					</ee:transform>
					<set-payload value="#[vars.fileContents]" doc:name="Set Payload" doc:id="92ef9d6e-8c2d-42e7-9eb1-bbeab24398f1" />
					<flow-ref doc:name="Call Price Book Item - Standards" doc:id="ecd35da6-8827-4f5c-92f9-6ddfcbae4f12" name="implementation-fileimport-pricebookentry-standard-items"/>
					<set-payload value="#[vars.fileContents]" doc:name="Set Payload" doc:id="61b70746-cb27-4df8-95e8-219add909371" />
					<ee:transform doc:name="Transform Message" doc:id="d74c55ea-c4f5-4ba6-8561-d0e6991fbe55">
						<ee:message>
							<ee:set-payload><![CDATA[%dw 2.0
import * from dw::Runtime
output application/java
---
payload wait 30000]]></ee:set-payload>
						</ee:message>
					</ee:transform>
					<flow-ref doc:name="Call PriceBook Flow - Item" doc:id="3019cfa2-0df5-4fe5-a7c7-d5a651814723" name="implementation-fileimport-pricebookentry-items" />
			</when>
			<otherwise>
				<logger level="INFO" doc:name="Logger" doc:id="f52c1b2f-2426-4a3d-93b4-fbabe86d5a94" message='#["Other File"]' />
			</otherwise>
		</choice>
			<error-handler >
				<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="84e6c3d0-e2de-45a8-93d5-5dd968f38cf8" >
					<flow-ref doc:name="Flow Reference" doc:id="75508bba-c419-4e80-a4f6-3237c5f08785" name="implementation-sftpError"/>
				</on-error-continue>
			</error-handler>
		</try>
		<flow-ref doc:name="Archive File" doc:id="af37d023-71e6-4d64-98ae-cc9753563d38" name="implementation-sftpArchive" />
		<logger level="INFO" doc:name="Logger" doc:id="b874b68b-6d7a-4181-83bc-c548e8e4bd68" message='" Archived Successfully"'/>
		<error-handler>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="b90de523-2b9c-431e-90af-e98cef71a599" >
				<logger level="INFO" doc:name="Logger" doc:id="c1b97360-139f-47ec-9c08-2a8b4a32e07c" message="#[error]"/>
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="implementation-fileimport-pricebookentry-standard-base" doc:id="eaf88b56-3226-40b0-9210-32623948a6d5">
		<logger level="INFO" doc:name="Logger" doc:id="e41d6b45-3904-48d4-8ef8-e31752c47a31" message='#["********************** STARTED : FILE IMPORT PBE ITEM - STANDARD BASE DATA **********************"]'/>
		<ee:transform doc:name="Transform Message" doc:id="9cc00781-50df-42d7-ba43-818b29a04e6b">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
read(vars.fileContents,"applicatin/csv", {"header": true, "separator": "|" }) map (
    {
        UnitPrice: $[3],
        "Product2.ProductUniqueID__c": $[0] ++ $[8],
        "Pricebook2.PricebookUniqueID__c": 'Standard',
        IsActive: if ( $[10] == 'Y') '1' else '0',
        UseStandardPrice: '0',
        PBEUniqueID__c: 'PBE'++ $[0] ++ $[8] ++ 'Standard'
    }
)]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="e3893c18-c328-4acd-971e-3f4a49820a8d" message='#["********************** TRANSFORMATION PBE ITEMS - BASE DATA  STANDARD - COMPLETED **********************"]' />
		<flow-ref doc:name="Flow Reference" doc:id="35916e18-12e1-48ee-97d1-80b75caa013a" name="implementation-salesforce-pricebookentry-data-ingest" />
	</flow>
	<flow name="implementation-fileimport-pricebookentry-basedata" doc:id="a4b016e1-8350-4024-b65c-fc1fdf6716da">
		<ee:transform doc:name="Transform Message" doc:id="76b2379c-b478-42f7-a949-1d8607f1b1e5">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
read(vars.fileContents, "applicatin/csv", {"header": true, "separator": "|" }) map (
    {
         UnitPrice: $[3],
        "Product2.ProductUniqueID__c": $[0] ++ $[8],
        "Pricebook2.PricebookUniqueID__c": $[13],
         IsActive: if ( $[10] == 'Y') '1' else '0',
         UseStandardPrice: '0',
         PBEUniqueID__c: 'PBE'++ $[0] ++ $[8] ++ $[13]
    }
)]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<flow-ref doc:name="Flow Reference" doc:id="620f685d-d228-4dde-b052-41235985aed6" name="implementation-salesforce-pricebookentry-data-ingest" />
	</flow>
	<flow name="implementation-fileimport-pricebookentry-items" doc:id="1be40796-31f1-4b77-bbf5-909296a244ba" >
		<ee:transform doc:name="Transform Message" doc:id="540f09bf-eb1b-4ef5-8006-b59d082f9d9b">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
read(vars.fileContents, "applicatin/csv", {"header": true, "separator": "|" }) map (
    {
        UnitPrice: $[4],
        "Product2.ProductUniqueID__c": $[0] ++ $[1] ++ $[7],
        "Pricebook2.PricebookUniqueID__c": $[10],
        IsActive: if ( $[9] == 'Y') '1' else '0',
        UseStandardPrice: '0',
        PBEUniqueID__c: 'PBE'++ $[0] ++ $[1] ++ $[7] ++ $[10]
    }
)]]></ee:set-payload>
					</ee:message>
				</ee:transform>
		<flow-ref doc:name="Flow Reference" doc:id="04e7a3fb-5a5c-46ce-82f6-a07788291b4f" name="implementation-salesforce-pricebookentry-data-ingest" />
	</flow>
	<flow name="implementation-fileimport-pricebookentry-standard-items" doc:id="c5d2107e-91df-4dd8-aead-7025f14658d7" >
		<ee:transform doc:name="Transform Message" doc:id="416b4acf-89b5-4d9e-896f-318d49a73d63" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
read(vars.fileContents,"application/csv", {"header": true, "separator": "|" }) map (
    {
        UnitPrice: $[4],
        "Product2.ProductUniqueID__c": $[0] ++ $[1] ++ $[7],
        "Pricebook2.PricebookUniqueID__c": 'Standard',
        IsActive: if ( $[9] == 'Y') '1' else '0',
        UseStandardPrice: '0',
        PBEUniqueID__c: 'PBE' ++ $[0] ++ $[1] ++ $[7] ++'Standard'
    }
)]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<flow-ref doc:name="Flow Reference" doc:id="7d4c2bc9-93ae-463f-b3fb-36c309d20566" name="implementation-salesforce-pricebookentry-data-ingest"/>
	</flow>
	<flow name="implementation-fileimport-product-items" doc:id="c62a875c-47af-4306-ba12-246fa41f4b36" >
		<flow-ref doc:name="Flow Reference" doc:id="e3a74610-562a-463a-93ba-a60c21c7c09d" name="implementation-get-salesforce-recordtype"/>
		<set-variable value="#[vars.recordId[0]]" doc:name="id" doc:id="6d7fd50c-3a6f-42ee-a878-4ddc3a8ef29e" variableName="id"/>
		<ee:transform doc:name="Transform Message" doc:id="ab7461cf-9d56-4f95-9f06-70ddc77b5a11">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
read(vars.fileContents,"application/csv", {"header": true, "separator": "|" }) map (
    {
    	ProductUniqueID__c: $[0] ++ $[1] ++ $[7],
        Car_Model_Code__c: $[0],
        Productcode :$[1],
        Name : $[2],
        Price_Valid_From__c : ($[5] as Date {format: "yyyyMMdd"}) as String {format: "yyyy-MM-dd"},
        Price_Valid_upto__c : if($[6] == '99991231') '3999-01-01' else (($[6] as Date {format: "yyyyMMdd"}) as String {format: "yyyy-MM-dd"}),
        Model_Year__c : $[7],
        Incl_tax__c: if($[8] == 'Y') '1' else '0',
        IsActive: if ( $[9] == 'Y') '1' else '0',
//      Isdeleted : if($ [11] == 'Y') '0' else '1',
       // MM_code__c: $[12],
        Family : $[3],
        Product_Classification__c : Mule::p("static.productClassification"),
        RecordTypeId: vars.id,	
        RCY_MasterDataSource__c: Mule::p("static.masterDataSource") 
    	
    }
)
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<flow-ref doc:name="Flow Reference" doc:id="ae5a081e-5747-4eb2-92d0-6bc1c9da493d" name="implementation-salesforce-product-object-ingest" />
	</flow>
	<flow name="implementation-fileimport-product-base" doc:id="54f76387-a322-4bad-823e-8038ece12731" >
		<flow-ref doc:name="Flow Reference" doc:id="01046a82-cb00-4714-a943-87c0e7c5b840" name="implementation-get-salesforce-recordtype" />
		<set-variable value="#[payload]" doc:name="Set Variable" doc:id="3f95f883-6a67-4a40-97fb-d1afab7591f6" variableName="file"/>
		<set-variable value="#[vars.recordId[0]]" doc:name="id" doc:id="5309bc7f-f7ac-4ca2-9e90-15e9a33d7ce5" variableName="id" />
		<ee:transform doc:name="Transform Message" doc:id="bf72cb90-6eb2-4562-a5d0-c1f8ae7c9d8f">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
read(vars.fileContents, "application/csv", {"header": true, "separator": "|" }) map (
    {
    	ProductUniqueID__c: $[0] ++ $[8],
        Car_Model_Code__c: $[0],
        Productcode :$[0],
        Name : $[1],
        Product_Category__c: $[2],
        Brand__c: if ($[4] == 'V') 'Volkswagen' else if ($[4] == 'C') 'Commercial' else 'Audi',
        Body_Style__c: $[5],
        Price_Valid_From__c : (($[6]) as Date {format: "yyyyMMdd"}) as String {format: "yyyy-MM-dd"},
        Price_Valid_upto__c : if($[7] == '99991231') '3999-01-01' else (($[7]) as Date {format: "yyyyMMdd"}) as String {format: "yyyy-MM-dd"},
        Model_Year__c : $[8],
        Incl_tax__c: if($[9] == 'Y') '1' else '0',
        IsActive: if ( $[10] == 'Y') '1' else '0',
        //IsDeleted : if($ [11] == 'Y') '1' else '0',
        MM_code__c: $[12],
        Family : Mule::p("static.family"),
        Product_Classification__c : Mule::p("static.productClassification"),
        RecordTypeId: vars.id,
        RCY_MasterDataSource__c: Mule::p("static.masterDataSource") 	
    	
    }
)


]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<flow-ref doc:name="Flow Reference" doc:id="78c30025-a30a-42bd-bc99-3f2c9a54897b" name="implementation-salesforce-product-object-ingest"/>
	</flow>
	<sub-flow name="implementation-sftpRead" doc:id="f2fd3f45-b0b0-4499-8489-a420f3a314d3" >
		<sftp:read doc:name="Read" doc:id="61588e30-6ca5-42c5-b8a5-e17d047922be" config-ref="SFTP_Config" path="#[vars.fileName]" />
	</sub-flow>
	<sub-flow name="implementation-sftpArchive" doc:id="3d922970-800e-4426-a720-225d2ce07d65" >
		<sftp:move doc:name="Move" doc:id="f8dcd289-cc23-42c1-8b19-054f9e4fd8b6" config-ref="SFTP_Config" sourcePath="#[vars.fileName]" targetPath="${sftp.archive.path}" overwrite="true" renameTo='#[vars.fileName replace ".txt" with(now() as String {format: "yyyyMMddHHmmss"} ++ ".txt")]'/>
	</sub-flow>
	<sub-flow name="implementation-sftpError" doc:id="c2d8dfe4-fedb-4930-a734-327469e344bd">
		<sftp:copy doc:name="Copy" doc:id="26c86b83-f55b-444f-9a63-a744043da576" config-ref="SFTP_Config" sourcePath="#[vars.fileName]" targetPath="${sftp.error.path}" renameTo='#[vars.fileName replace ".txt" with(now() as String {format: "yyyyMMddHHmmss"} ++ ".txt")]'/>
	</sub-flow>
</mule>
